body {
  background: green !important;
  background-size: cover !important;
}
.count {
  text-align: center;
  font-size: 500%;
  border: 2px solid rgb(190, 188, 188);
  border-radius: 10px;
  margin: 40px 0;
  background: white;
}
.counter {
  margin: 0 auto;
  width: 200px;
}
.btn {
  width: 100%;
  margin-bottom: 20px;
}
.btnGroup {
  width: 50%;
  margin: 0 auto;
}
.navlink {
  color: black;
}
.activeNav {
  color: rgb(72, 255, 0);
}
.input-group {
  margin: 10px auto;
  width: 45% !important;
}


